.app {
  display: flex;
  height: 100vh;
}
.graph {
  flex: 2;
}
.options {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -1px 0px gray;
}
.header {
  font-size: 30px;
}
.description {
  margin-bottom: 20px;
}
.sections{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}
.sections::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.sectionToggle {
  align-self: flex-start;
  display: flex;
  /* justify-content: flex-start;   */
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid gray;
  background-color: #eeeeee;
}
.sectionToggle:hover {
  background-color:#aaaaaa;
  cursor: pointer;
}
.sectionTitle {
  flex: 1;
  justify-self: flex-start;
  margin-left: 10px;
  font-weight: 500
}
.menuIcon {
  width: 25px;
  /* position: absolute; */
  justify-self: flex-end;
  align-self: center;
  right: 5px;
}
.menuIcon.rotate {
  transform: rotate(180deg); 

}
.fileSection {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  max-height: 400px;
  transition: max-height .5s;
  background-color: #eeeeee;
}
.fileSection.closed {
  max-height: 0;
}
.fileSection.closed :nth-child(n) {
  visibility: hidden;
}
.uploadGr {
  width: 100%;
  border-bottom: 1px solid gray;
}
.uploadGr:hover {
  background-color:#aaaaaa;
  cursor: pointer;
}
.uploadIcon {
  width: 35px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.addArff {
  width: 100%;
  border-bottom: 1px solid gray;
}
.addArff:hover {
  background-color:#aaaaaa;
  cursor: pointer;
}
.plusIcon {
  width: 30px;
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 22px;
  margin-bottom: 10px;
}
.modifyLink {
  width: 100%;
  border-bottom: 1px solid gray;
}
.modifyLink:hover {
  cursor: pointer;
}
.nodeText {
  margin-left: 15px;
}
.nodeInput {
  width: 40px;
  margin-left: 5px;
  margin-bottom: 15px;
}
.modifyIcon {
  width: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.nodeText2 {
  margin-left: 8px;
}
.modifyLinkButton {
  margin-left: 30px;
  border: 1px solid gray;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.modifyLinkButton:hover {
  border: 3px solid lightblue;
  background-color:#aaaaaa;
}
.removeNodeTitle {
  margin-bottom: 10px;
}
.removeNodeButton {
  margin-left: 30px;
  border: 1px solid gray;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.removeNodeButton:hover {
  border: 3px solid orangered;
  background-color:#aaaaaa;
}